/*
Theme Name: OceanWP Child
Theme URI: https://oceanwp.org/
Description: OceanWP WordPress theme example child theme.
Author: Nick
Author URI: https://oceanwp.org/
Template: oceanwp
Version: 1.0
*/

/* Parent stylesheet should be loaded from functions.php not using @import */

.searchandfilter{text-align:center;}

.term-cp1 #content
{
	background-color: white;
    padding: 70px;
    margin: 40px 0px 0px 70px;
}
.term-cp1 #container
{
	float: left;
    width: 70%;
}
.term-cp1 aside{ margin-top:40px;}